body {
  font-family: 'Lato', sans-serif;
  font-size: 1vmax;
  line-height: 1.8;
  color: #f5f6f7;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;

}
p, span {
  font-size: 1.5vmax;
  font-family: 'Quicksand', sans-serif;
}
.bg-superhero p{
  font-size: 2.5vmax;
}
.superhero{
  font-size: 7vmax;
}
h2 {
  font-size: 3vmax;
}
.margin {margin-bottom: 45px;}

.text-1{
  color: #e7abaa;
}
.text-2{
  color: #279AF1;
}
.text-3{
  color: #eae9e4;
}
.text-4{
  color: #131112;
}
.text-5{
  color: #3D0814;
}
.bg-superhero{
  background-color:#131112;
  color: #ffffff;
}
.bg-1 { 
  background-color: #fff; /* pastel pink */
  color:#131112;
}
.bg-1 h2{
  color: #e7abaa;
}
.bg-2 { 
  background-color: #279AF1; /* carolina blue */
  color: #ffffff;
}
.bg-3 { 
  background-color: #eae9e4; /* black coral */
  color: #555555;
}
.bg-4 { 
  background-color: #131112; /* Smokey black */
  color: #f5f6f7;
}
.bg-5{ 
  background-color: #3D0814; /* Dark sienna */
  color: #fff;
}
.bg-6 { 
  background-color: #e7abaa; /* pastel pink */
  color: #ffffff;
  transition: 0.3s;
}



.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
}
.navbar-nav {
  font-size: 30px;
}
.bg-transparent .navbar-nav  li a,.bg-transparent .navbar-nav a {
  color:  #279AF1  !important;
  transition: 0.3s;
}
.bg-transparent .navbar-nav  li a:hover{
  color: #131112 !important;
  transition: 0.3s;
}
.bg-6 .navbar-nav  li a,.bg-6 .navbar-nav a {
  color: #fff !important;
  transition: 0.3s;
}
.bg-6 .navbar-nav  li a:hover,.bg-6 .navbar-nav a.active {
  color: #131112 !important;
  transition: 0.3s;
}
.circle {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-container {
  position: relative;
}

.overlay-background{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color:#fff ;
}


.hidden{
  visibility: hidden;
}


.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}
/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
