<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name = "author" content="Trinh Le Hoang Minh">
<title><%= title %></title>
<!-- Bootstrap-->
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&family=Quicksand:wght@300&display=swap" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- local.js -->
<script src="js/local.js"></script>
<!-- style.css -->
<link rel="stylesheet" type="text/css" href="css/tudaegg.css">
<!-- Font awesome kit-->
<script src="https://kit.fontawesome.com/7ce695a48c.js" crossorigin="anonymous"></script>
<!-- Wow Js-->
<link rel="stylesheet" href="animate.css/animate.css">
<script src="wowjs/dist/wow.min.js"></script>
<script>
new WOW().init();
</script>