<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Minh Trinh</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <!-- Popper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <!-- local.js -->
      <script src="js/local.js"></script>
      <!-- style.css -->
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!-- Font google -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <!-- Font awesome kit-->
      <script src="https://kit.fontawesome.com/7ce695a48c.js" crossorigin="anonymous"></script>
      <!-- W3 school style css-->
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <!-- Wow Js-->
      <link rel="stylesheet" href="node_modules/animate.css/animate.css">
      <script src="node_modules/wowjs/dist/wow.min.js"></script>
      <script>
      new WOW().init();
      </script>
      
  </head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

  <nav class=" fixed-top navbar navbar-expand-lg navbar-light bg-transparent" id = "navbar">
    <div class="container" >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto" >
          <li class="nav-item">
            <a class="nav-link"  href="#resume">Resume</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- First Container -->
  <div class=" container-fluid bg-1 vh-100" >
    <div class="container" style="margin-top: 3.5rem;">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h3 class="mt-5 slide">Le Hoang Minh Trinh</h3>
          <h5 class="mt-4 slide"> A working student that is eager to gain more experience</h5>
          <hr>
          <p class="mt-5"><i class="far fa-envelope"></i> trinhlehoangminh2000@gmail.com</p>
          <p><i class="fas fa-phone"></i> +41 76 205 12 59</p>
          <p><i class="fas fa-map-marker-alt"></i> Freiestrasse 67, Schlieren 8952</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 wow slideInLeft my-5">
          <img class= "img-fluid rounded-circle text-center" src="img/index.jpg"/>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Container -->
  <div id= "resume"class="container-fluid bg-4">
    <div class="container">
      <h2 class="margin text-center">Resume</h2>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
    <h3 class="mt-5 text-center"><i class="fas fa-tachometer-alt"></i>  Skills</h3>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <p>Html and css</p>
        </div>
        <div class="col-6">
          <p class="text-right">85%</p>
        </div>
      </div>
      <div class="progress" >
        <div class="progress-bar wow slideInLeft" role="progressbar" aria-valuenow="70"aria-valuemin="0" aria-valuemax="100" style="width:85%"></div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>JavaScript</p>
        </div>
        <div class="col-6">
          <p class="text-right">65%</p>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar wow slideInLeft" role="progressbar" aria-valuenow="70"aria-valuemin="0" aria-valuemax="100" style="width:65%"></div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Php (Yii framework)</p>
        </div>
        <div class="col-6">
          <p class="text-right">75%</p>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar wow slideInLeft" role="progressbar" aria-valuenow="70"aria-valuemin="0" aria-valuemax="100" style="width:75%"></div>
      </div>

      <div class="row">
        <div class="col-6">
          <p>NodeJs</p>
        </div>
        <div class="col-6">
          <p class="text-right">60%</p>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar wow slideInLeft" role="progressbar" aria-valuenow="70"aria-valuemin="0" aria-valuemax="100" style="width:60%"></div>
      </div>

      
      <div class="row">
        <div class="col-6">
          <p>Java</p>
        </div>
        <div class="col-6">
          <p class="text-right">60%</p>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar wow slideInLeft" role="progressbar" aria-valuenow="70"aria-valuemin="0" aria-valuemax="100" style="width:60%"></div>
      </div>

      
      <div class="row">
        <div class="col-6">
          <p>Python</p>
        </div>
        <div class="col-6">
          <p class="text-right">80%</p>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar wow slideInLeft" role="progressbar" aria-valuenow="70"aria-valuemin="0" aria-valuemax="100" style="width:80%"></div>
      </div>
    </div>
    
    <div class="mt-5 container">

      <div class="row wow slideInUp" >
        <div class="col-6">
          <h3 class="mt-5 text-center"><i class="fas fa-university"></i>  Education</h3> 
          <div class="mt-3 card" >
            <div class="card-body">
              <h5 class="card-title">International IT Management BSc</h5>
              <h6 class="card-subtitle mb-2">Hochschule Luzern in Switzerland</h6>
              <h6 class="card-subtitle mb-2">2018 - today</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <h3 class="mt-5 text-center"><i class="fas fa-briefcase"></i>  Experience</h3> 
          <div class="mt-3 card" >
            <div class="card-body">
              <h5 class="card-title">Teacher Assistant</h5>
              <h6 class="card-subtitle mb-2">at Hochschule Luzern in Switzerland</h6>
              <h6 class="card-subtitle mb-2"> February 2020 - today</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 wow slideInUp" data-wow-delay="0.15s">
        <div class="col-6">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Computing BSc (Exchange semester)</h5>
              <h6 class="card-subtitle mb-2">Coventry University in the U.K</h6>
              <h6 class="card-subtitle mb-2">Fall semester 2019</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Web developer intern</h5>
              <h6 class="card-subtitle mb-2">at L.C.S company in Vietnam</h6>
              <h6 class="card-subtitle mb-2">Decemeber 2019 - January 2020</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 wow slideInUp" data-wow-delay="0.3s">
        <div class="col-6">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">High school</h5>
              <h6 class="card-subtitle mb-2">Nguyen Thi Minh Khai high school in Vietnam</h6>
              <h6 class="card-subtitle mb-2">2015 - 2018</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Ambassador of International IT Management course</h5>
              <h6 class="card-subtitle mb-2">at Hochschule Luzern in Switzerland</h6>
              <h6 class="card-subtitle mb-2">September 2019 - today</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>

  <!-- Third Container -->
  <div id= "portfolio" class="container-fluid bg-3 text-center ">    
    <h2 class="margin">Portfolio</h2>
    <div class="container">
      <div class="img-container zoomIn wow"  data-wow-duration="2s">
        <img src="img/portfolio.png" alt="Avatar" class="img-fluid">
        <div class="overlay">
          <a class="icon" target="_blank" rel="noopener noreferrer" href="https://koala-llc.herokuapp.com/" >A website to showcase products</a>
        </div>
      </div>
    </div>
 
   
  </div>


  <!-- Fourth Container -->
  <div id= "contact" class="container-fluid bg-4">    
    <h3 class="margin text-center">Contact</h3><br>
    <div class="container">
      <div class="row">

        <!-- Card details -->
        <div class="col-md-6 col-sm-12">

          <!-- Address card -->
          <div class="card" >
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <svg height="100%" width="100%">
                    <circle cx="50%" cy="50%" r="40%" stroke="#1abc9c" stroke-width="1" fill ="none"/>
                  </svg>
                  <i class="fas fa-location-arrow"></i>
                </div>
                <div class="col-8 wow slideInUp">
                  <h4 class="card-title">Address</h4>
                  <p class="card-text mt-4">Freiestrasse 67,</p>
                  <p class="card-text" style="margin-top: -0.8rem;">8952 Schlieren</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Email card -->
          <div class="mt-3 card" >
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <svg height="100%" width="100%">
                    <circle cx="50%" cy="50%" r="40%" stroke="#1abc9c" stroke-width="1" fill ="none"/>
                  </svg>
                  <i class="far fa-envelope"></i>
                </div>
                <div class="col-8 wow slideInUp">
                  <h4 class="card-title">Email</h4>
                  <p class="card-text mt-4">trinhlehoangminh2000@gmail.com</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Phone card -->
          <div class="mt-3 mb-5 card" >
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <svg height="100%" width="100%">
                    <circle cx="50%" cy="50%" r="40%" stroke="#1abc9c" stroke-width="1" fill ="none"/>
                  </svg>
                  <i class="fas fa-phone"></i>
                </div>
                <div class="col-8 wow slideInUp">
                  <h4 class="card-title">Phone</h4>
                  <p class="card-text mt-4">+41 76 205 12 59</p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Contact box -->
        <div class="col-md-6 col-sm-12">
          <form id="contact-form" name="contact" method="post" onsubmit="submitForm(event)" role="form">
            <div class="controls">
              <div class="form-group">
                <input id="form_name" type="text" name="firstname" class="form-control form-control-lg" placeholder="First Name *" required="required" data-error="Firstname is required.">
                <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                  <input id="form_lastname" type="text" name="lastname" class="form-control form-control-lg" placeholder="Last Name *" required="required" data-error="Lastname is required.">
                  <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                  <input id="form_email" type="email" name="email" class="form-control form-control-lg" placeholder="Email *" required="required" data-error="Valid email is required.">
                  <div class="help-block with-errors"></div>
              </div>
              <div class="form-group">
                <textarea id="form_message" name="message" class="form-control form-control-lg" placeholder="Message *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                <div class="help-block with-errors"></div>
              </div>
              <input type="submit" style="width: 100%;" class="btn btn-blue btn-send" value="Send message">
              <h5 style="color:green" class="hidden" id="success">Your message has been recieved, we will reply as soon as possible</h5>
              <p class="text-muted">
              <strong>*</strong> These fields are required.
            </div>
          </form>

       
        </div>
      </div>
    </div>
   
  </div>


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>All right reserved Le Hoang Minh Trinh @ 2020</p> 
</footer>

</body>
</html>