<html>
    <head>
        <%- include('head'); %>
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
        <nav class=" fixed-top navbar navbar-expand-lg navbar-light bg-transparent" id = "navbar">
          <div class="container" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto" >
                <li class="nav-item">
                  <a class="nav-link"  href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#instax">Instax</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#challenge">Challenge</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      
        <!-- First Container -->
        <div id="home" class=" container-fluid bg-superhero h-100" >
          <div class="container" style="margin-top: 3.5rem;">
            <div class="overlay-background animated slideInLeft delay-1s"></div>
            <div id="hero-content"></div>

            <script id="hero-desktop" type="text/html">
              <div class="row">
                <div class="col-8">
                  <h1 class="superhero animated slideInUp text-2" id="hero-1">Tu da Web</h1>
                  <p class="hero hidden">Xin chào! Kéo xuống để biết thêm chi tiết.</p>
                </div>
                <div class="col-4">
                  <img class="hero img-fluid mt-3 hidden" src="img/flower/daisyCropped.png"/>
                </div>
              </div>
            </script>

            <script id="hero-mobile" type="text/html">
              <div class="row">
                <div class="col-12">
                  <h1 class="superhero animated slideInUp text-2" id="hero-1">Tu da Web</h1>
                </div>
                <div class="col">
                  <p class="hero hidden mt-5">Xin chào! Kéo xuống để biết thêm chi tiết.</p>
                </div>
                <div class="col">
                  <img class="hero img-fluid mt-3 hidden" src="img/flower/daisyCropped.png"/>
                </div>
              </div>
            </script>

          </div>  
        </div>
      
        <!-- Second Container -->
        <div id= "instax"class="container-fluid bg-2">
          <div class="container">
            <div class="mb-3">
              <div class="container">
                <h2 class=" margin text-center wow slideInUp">Instax</h2>
              </div>
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <div id="instaxCarouselIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                          <div class="col-6"><img class="d-block img-fluid " src="img/instax/1.png" alt="First slide"></div>
                          <div class="col-6"><img class="d-block img-fluid" src="img/instax/4.png" alt="Second slide"></div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                          <div class="col-6"><img class="d-block img-fluid " src="img/instax/3.png" alt="Third slide"></div>
                          <div class="col-6"><img class="d-block img-fluid " src="img/instax/2.png" alt="Third slide"></div>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#instaxCarouselIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#instaxCarouselIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Third Container -->
        <div id= "Challenge" class="container-fluid bg-3 text-center">    
          <h2 class="margin">Challenge</h2>
          <div class="container">
            <div class="row">
              <div class="col-2"></div>
              <div class="col-8">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="900" height="506" src="https://www.youtube.com/embed/V0X-SWiDr1g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="overlay-challenge bg-4 hidden" style="margin-top: -0.1rem;">
                  <a class="icon" target="_blank" rel="noopener noreferrer" href="https://koala-llc.herokuapp.com/" >A website to showcase products</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      <!-- Footer -->
      <footer class="container-fluid bg-2 text-center">
        <p>All rights reserved Le Hoang Minh Trinh @ 2020</p> 
      </footer>
      
    </body>